* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Change the background color of the toast to red and text color to white */
.Toastify__toast {
    background-color: white !important;
    color: red !important;
    font-weight: 500;
  }
  
  /* Change the color of the close button to white */
  .Toastify__close-button {
    color: red !important;
  }


  @keyframes wobble {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(0deg); }
    45% { transform: rotate(5deg); }
    60% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(5deg); }
  }

  .wobble {
    animation: wobble 1s infinite;
  }