* {
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: block;
    font-size: 200px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.timer {
    text-align: center;
    margin: 24px auto;
}